<ul>
  {{#each @otherUsers as |otherUser|}}
    <li>
      <h4>{{otherUser.name}}</h4>
      <h5>{{otherUser.role}}</h5>
      <p>{{otherUser.introduction}}</p>
      <FikaButton
        @receiverName={{otherUser.name}}
        @receiverId={{otherUser.id}}
      />
    </li>
  {{/each}}
</ul>