<ul>
  {{#each @fikas as |fika|}}
    <li>
      {{#if @isSentFikas}}
        <h4>{{fika.receiver_name}}</h4>
      {{else}}
        <h4>{{fika.sender_name}}</h4>
      {{/if}}

      <div>
        <h5>Scheduled at:</h5>
        <p>{{moment-format fika.scheduled_at "MM-DD-YYYY"}}</p>
        <p>{{moment-from-now fika.scheduled_at}}</p>
      </div>

      <p>{{fika.status}}</p>

      {{#unless @isSentFikas}}
        <StatusButton @fikaId={{fika.fika_id}} @fikaStatus={{fika.status}} />
      {{/unless}}

    </li>
  {{/each}}
</ul>