<h1>Hi, {{this.model.currentUser.name}}!</h1>
<p>{{this.model.currentUser.role}}</p>
<p>{{this.model.currentUser.introduction}}</p>

<h3>Your Community</h3>
<CommunityList @otherUsers={{this.model.otherUsers}} />

<h3>Sent Fikas</h3>
<FikaList @fikas={{this.model.sentFikas}} />

<h3>Received Fikas</h3>
<FikaList @fikas={{this.model.receivedFikas}} />