<div class="background">
  <div class="signup-container">
    {{#if this.showForm}}

      <h2 class="signup-title">Sign up</h2>

      <form {{on "submit" this.handleSignup}} class="signup-form">
        <label for="name">Name:</label>
        <input
          class="signup-input"
          type="text"
          id="name"
          {{on "input" (fn this.updateField "name")}}
          required
        />
        <label for="email">Email:</label>
        <input
          class="signup-input"
          type="email"
          id="email"
          {{on "input" (fn this.updateField "email")}}
          required
        />
        <label for="password">Password:</label>
        <input
          class="signup-input"
          type="password"
          id="password"
          {{on "input" (fn this.updateField "password")}}
          required
        />
        <fieldset class="signup-role-container">
          <legend>Role:</legend>
          <div class="signpu-role-radio">
            <label class="role-radio-label">
              <input
                class="role-radio-input"
                type="radio"
                name="role"
                value="mentor"
                {{on "change" (fn this.updateField "role")}}
                checked={{this.role}}
              />
              Mentor
            </label>

            <label class="role-radio-label">
              <input
                class="role-radio-input"
                type="radio"
                name="role"
                value="student"
                {{on "change" (fn this.updateField "role")}}
                checked={{this.role}}
              />
              Student
            </label>
          </div>
        </fieldset>
        <label class="signup-introduction-label">Introduction:
          <textarea
            value={{this.introduction}}
            {{on "input" (fn this.updateField "introduction")}}
            rows="5"
            cols="30"
            maxlength="500"
            required
          />
          <p
            class="signup-introduction-character"
          >{{this.introduction.length}}/500 characters</p>

        </label>
        <button type="submit" class="submit-button">Sign Up</button>
        {{#if this.submitError}}
          <p style="color: red;">{{this.submitError}}</p>
        {{/if}}
        {{#if this.nameError}}
          <span>{{this.nameError}}</span>
        {{/if}}
        {{#if this.emailError}}
          <span>{{this.emailError}}</span>
        {{/if}}
        {{#if this.passwordError}}
          <span>{{this.passwordError}}</span>
        {{/if}}
        {{#if this.roleError}}
          <span>{{this.roleError}}</span>
        {{/if}}
        {{#if this.introductionError}}
          <span>{{this.introductionError}}</span>
        {{/if}}

      </form>
    {{else}}
      <p class="signup-success-message">{{this.successMessage}}</p>
    {{/if}}
  </div>
</div>